@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	font-family: "Roboto", sans-serif;
}

.reg-login {
	background-size: contain;
	background-repeat: no-repeat;
}

.dropdown-content {
	display: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

body {
    background-color: #f9fafb;
}

.burger {
	width: 600px;
	height: 300px;
	object-fit: cover;
}

.profile-pic {
	width: 300px;
	height: 300px;
	object-fit: cover;
}
.avatar {
	width: 56px;
	height: 56px;
	object-fit: cover;
}